header {
  background-color: hotpink;
}

.bookmark {
  position: absolute;
  top: 0;
  right: 0;
}

.cards {
  margin: 20% 10%;
  border: 5px solid turquoise;
  font-size: 1.5rem;
  padding: 3% 10%;
  text-align: center;
  position: relative;
}

.taglist {
  display: inline;
  justify-content: space-around;
  flex-direction: row;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.flex-spcbtwn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.active-page {
  background-color: #7980ff;
}

.profile-image,
.profile-text {
  display: flex;
  margin: 10px;
}

.profile-image {
  max-width: 80vw;
  width: 30rem;
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
