body {
  background-color: aquamarine;
}

h1 {
  color: indianred;
}

.questionbox {
  display: flex;
  flex-direction: column;
  margin: 80px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 8px;
  text-align: justify;
  background-color: lightgoldenrodyellow;
}

p {
  display: inline-block;
}

footer {
  text-align: ;
}
